%footer.footer
  %small
    %a{:herf =>"http://railstutorial.org/"}Rails Tutorial by Michael Hartl
  %nav
    %ul
      %li= link_to "About", about_path
      %li= link_to "Contact", contact_path
      %li
        %a{:herf =>"http://news.railstutorial.com"}News
